#container{
display: grid;
grid-gap: 1em;
grid-template-areas: "cont-1 cont-2 cont-3" "cont-4 cont-4 cont-5";
grid-template-columns: 35% 20% 45%;


color: blue;
font-family: exo 2 bold;
}
#container > div{
    border: 2px solid blue;
   


} 
#container > div:cont-1{
    height: 40%;
}
#container > div:cont-2{
    height: 40%;
}
#container > div:cont-3{
    height: 40%;
}

