body{
    background-color: lightgray;
    text-align: center;
  }
  .div-1{
    background-color: white;  
  }
  .div-1 p{
    padding: 0px 0px 20px 0px;
  } 
  .div-2{
  display: inline-block;
      width: 50%;
      text-align: justify;
      float: center;
    word-spacing: 1.5px;
    line-height: 2;
    }
  .div-3{
    display: inline-block;
      width: 50%;
      text-align: justify;
      float: center;
    word-spacing: 1.5px;
    line-height: 2;
  }
  